 /*general*/
body {
    font-family: "jaf-facitweb", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #404040;
}
.main-content {
    margin-top: 2em;
}
@media (min-width: 768px) {
    .main-content {
        margin-top: 5em;
    }
}
a, button, img, .bill-block{
     -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
     transition: all .1s ease-in-out;
}
.row {
	-webkit-transform: translateZ(0);
}

 /*buttons */
.btn-blue {
    background: #46BFBE;
    color: white;
    font-size: 2em;
    box-shadow: 0 .125em 0 rgba(0,0,0,.5);
}

.btn-blue:hover, .btn-blue:active, .btn-blue:focus {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	color: white;
    background: #2A7373;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	color: white;
    background: #46BFBE;
    border:1px solid #46BFBE;
}
.btn-wide {
	padding: .25em 1.5em;
}
@media (min-width: 767px){
.btn-wide {
    padding: .5em 2em;
}}
.btn-secondary {
    font-weight: bold;
    border-color: #46BFBE;
    color: #46BFBE;
    background: none;
}


.as-super-header {
    font-size: 5em;
}
@media (min-width: 768px) {
    .as-super-header {
        font-size: 10em;
    }
}
hr {
    background: #D8D8D8;
}
 /*Bill Breakdown */

.jumbotron {
    background: #FEE8CE;
}
.value-large {
    font-size: 2em;
    display: block;
}
.value-small {
    opacity: .5;
    font-size: .85em;
}
.value-over {
    color: #F16161;
}
.as-h3 {
    font-size: 1em;
    opacity: .5;
    font-weight: bold;
}

 /*Activity Log */

.table tr:nth-child(even) {
    background: #fcfcfc;
}
 /*Monthly billing */

.progress-bar-billing {
    background: #FEB45C;
}
.img-lg {
    width: 85%;
    margin-bottom: 1em;
}
.img-md {
    width: 33%;
    margin-bottom: .5em;
}
/*helper classes */

.flush-bottom {
    margin-bottom: 0;
}
.flush-top {
    margin-top: 0;
}
.flush {
	margin-top: 0;
	margin-bottom: 0;
}

.dollar {
	font-size: 50%;
}

.pull-up{
	margin-top: 0;
}
@media (min-width:768px){
.pull-up {
	margin-top: -2.65em;
}
}
@media (max-width:767px){
.hard-center {
	display: block !important;
	margin: 0 auto !important;
	float: none !important;
	clear: both;
}}

.charge {
	background: #F58981;
}

.img-lg:hover, .img-md:hover{
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-ms-transform: scale(.9);
	-o-transform: scale(.9);	
}
.bill-block {
	padding: 1em inherit .5em inherit;
}
.bill-block:hover {
	background: rgba(255,255,255,.5);

}

.footer {
	background: #f0f0f0;
	padding: 2em 0;
	margin-top: 5em;
}